{
  "presets": [
    ["es2015", {"modules": false, "loose": true}],
    "stage-0",
    "react"
  ],
  "compact": false,
  "plugins": [
    "transform-async-to-generator",
    "react-hot-loader/babel"
  ]
}
