{
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended", // https://github.com/eslint/eslint/blob/master/conf/eslint.json
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"]
            }
        }
    },
    "rules": {
        "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": ["warn", "never"],
        "no-console": "warn",
        "no-unused-vars": "warn",
        "comma-dangle": ["error", "never"],

        "import/no-named-as-default-member": "off",

        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/jsx-no-undef": "error",
        "react/no-danger": "off",
        "react/display-name": "off"
    },
    "globals": {
        "__CLIENT__": false,
        "__SERVER__": false,
        "__DEVELOPMENT__": false,
        "__PRODUCTION__": false
    }
}
