@import "../../content/globals";

:local(.root) {
    position: relative;
    height: @gFooterHeight;

    > .holder {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: .2em;

        > .block {
            display: inline-block;
            margin: 0 .5em;

            &.credit {
                font-size: .8em;
                position: relative;
                top: -.4em;

                > a {
                    color: @gInactiveColor;

                    > em {
                        font-style: normal;
                    }

                    &:hover {
                        > em {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
