@import "../../content/globals";

:local(.root) {
}

:local(.emptyMessage) {
    color: @gInactiveColor !important;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    padding: 0 !important;

    > div {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
}
