@import "../../content/globals";

:local(.root) {
    height: 100%;
    padding: 0 !important;

    > .content-wrapper {
        min-height: 100%;
        margin-bottom: -@gFooterHeight;

        &:after {
            content: "";
            display: block;
            height: @gFooterHeight;
        }
    }

    > footer {
        height: @gFooterHeight;
    }
}
