@import "./vendor/semantic/src/semantic";
@import "./vendor/icomoon/style.css";
@import "./globals";

html,
body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html,
body,
#root {
    height: 100%;
}

[class^="icon-"],
[class*=" icon-"] {
    margin-right: 0.25rem;
}

.appear-fadein-appear {
    opacity: 0.01;

    &.appear-fadein-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}
